  <header>
    <h1>Forge<br/>Design System</h1>
    <section>Search</section>
    <section>Version</section>
    <section>Github link</section>
  </header>

<div class="main">
  <nav>
    placeholder<br>for main<br/>navigation
  </nav>

  <section>
    <div class="content">
      <h2>Component Name!</h2>
      this is the body of the page that will have the component description, example, etc. This is the meat and potatoes!
    </div>

    <nav>
      placeholder for component nav
    </nav>
  </section>
</div>

  <footer>
    <div class="content">
      <section><nav>footer links</nav></section>
      <section><nav>a bunch of more footer links</nav></section>
      <section><nav>footer links part 3</nav></section>
    </div>
  </footer>

